*.iml
.iml
*/.iml
**/.iml
target/
*/target/
**/target/
.project
*/.project
**/.project
.classpath
*.classpath
.settings/
*/.settings/
**/.settings/
build/
*/build/
**/build/
deploy/
*/deploy/
**/deploy/
logs/
*/logs/
**/logs/
*-no-commit
*-no-commit/
.DS_Store
*.DS_Store
